<div class="content">
    <div class="row">
        <div class="col-3 box-shadow">
    
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-6 box-shadow">
                    <app-bar></app-bar>
                </div>
                <div class="col-6 box-shadow">
                    <app-pie></app-pie>
                </div>
            </div>
            <div class="row">
                <div class="col-12 box-shadow">
                    <app-cpuusage></app-cpuusage>
                </div>
            </div>
            <div class="row">
                <div class="col-12 box-shadow">
                    <app-memusage></app-memusage>
                </div>
            </div>
        </div>
    </div>
</div>