<header>

  <!--Navbar -->
  <nav class="mb-8 navbar navbar-expand-lg navbar-dark blue">
    <a class="navbar-smy font-bold" href="#">Appliance Health Report</a>
    <img id="dg_logo" src="https://digitalguardian.com/sites/all/themes/vermillion/images/dg_hs_logo_white_pink_square.png" alt="logo" />
    <!--img id="dg_logo" src="https://info.digitalguardian.com/rs/768-OQW-145/images/dg_logo_w_text_gray.png" alt="logo" /-->
    
  </nav>
  <!--/.Navbar -->
</header>
<br/>
<app-dashboard2></app-dashboard2>

<!-- <div class="content">
  <div class="panel panel-default">
    <div class="panel-heading">Map</div>
    <div class="panel-body">
        <div class="mybox"> </div>
    </div>
   </div>
</div> -->
<!-- <app-bar></app-bar>
<app-pie></app-pie>
<app-scatter></app-scatter> -->